@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

header{
    text-align: center;
    background-color: black;
    color: white;
    margin: -10px;
    padding: 6px 1px 126px 9px;
}

h1{
  font-family: 'Passion One', bold;
  font-weight: 400;
  font-size: 8em;
  font-style: normal;
  margin-top: 1px;
}
p#subtit{
  font-family: Arial, Helvetica, sans-serif, bold;
  margin: -94px;
  padding: 7px 1px 21px 10px;
  font-size: 1.2em;
}
article{
 white-space: pre-line;
text-align: left;
font-family: Arial, bold;
line-height: 2.2;
font-size: 2.7em;
margin-left: 0.5em;
}
a{
  font-family: 'Sriracha';
}
a#segundo{
font-family: 'Sriracha';
white-space: pre-line;
text-align: left;
line-height: 2.2;
font-size: 2.7em;
color: white;
background-color: black;

}
aside{
  
  padding-left: 2em;
  margin: 12px -8px 1px -9px;

}
img{
  margin: auto;
}
